.loading
    .load

header
    nav
        .head
            a.heading( (click)="navToHome()")
                h1.title Angular Project
        .rest-nav
            .left.pull-left
                i.fa.fa-search
                input.search(type="search")

                .clickable.notifi
                    span    13
                    i.fa.fa-bell 

                ul.not-menu
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur

                .clickable.messages
                        span    14
                        i.fa.fa-envelope
                
                ul.mess-menu
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur

            .right.pull-right
                ul.links.list-unstyled
                    li.toggle(tabindex="0")
                        span LTR/RTL
                    li.clickable(tabindex="0") 
                        img(src="../../assets/img/images.jpg", alt="user-image")
                        span Project user
                    .clearfix
                
                ul.profile.list-unstyled
                    li((click)="navToProfile()", tabindex="0") Profile
                    li.logger((click)="navTologout()", tabindex="0") Logout
            .clearfix
        .clearfix

- var list = {'fa-home':'Home', 'fa-github':'Repos', 'fa-sign-out':'logout'}

aside
   .sidebar.text-center
        a.profile-img( (click)="navToProfile(); rightLeft()" )
            img(src="../../assets/img/images.jpg", alt="user-image")
            p.user-name User Name

        ul.navigate.text-left
            each y, z in list 
                li( (click)=`navTo${y}(); rightLeft()`, title=y, tabindex="0", role="button")
                    i.fa.fa-3x.item(class=z)
                    span.sec-item=y

        footer.text-center
            p  mohamedsaad &copy; 2018


router-outlet
